@import "styles/helpers.css";

html {
  font-size: 16px;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  height: 100%;
}

.Graph {
  flex: 1;
  width: 50vw;
  height: 100vh;
}
