.FlowGraph {
  flex: 1;
  width: 50vw;
  height: 100vh;
}


.react-flow__node {
  display: flex;
  justify-content: center;
  align-items: center;
}

.node-class {
  background: lightblue;
  z-index: -1;
}

.node-type {
  background: lightgoldenrodyellow;
  border-radius: 3rem;
}

.node-rdf\:List {
  background: lightgoldenrodyellow;
}

.node-integer,
.node-number,
.node-string,
.node-boolean,
.node-object,
.node-array {
  background: aliceblue;
  z-index: -1;
}

.react-flow__attribution {
  display: none;
}
